// theme color
$main:  #4b00ff;
$sidemenu: #0000ca;
$hover: darken($main, 50%);
$sec: #FFFFFF;
$lightGray: #F2F2F2;
$texts: #333333;
$colorcode: #3085F4;
$loader-color: $sec;

// responsive cut
$cut: 37.5rem;
