<section class="author" itemprop="author" style="overflow-x: hidden;">
  <div class="details" itemscope itemtype="http://schema.org/Person">
    <img style="width: 200px; height: 200px" data-aos="fade-right" data-aos-anchor-placement="top-center" itemprop="image" class="img-rounded" src="{{page.author_avatar}}" alt="{{page.author_name}} Photo">
    <p data-aos="zoom-in" class="def">Author</p>
    <h3 class="name">
      <a data-aos="zoom-in" itemprop="name" href="https://plus.google.com/{{page.author_gplus}}/posts">{{page.author_name}}</a>
    </h3>
    <p data-aos="zoom-in" class="desc">{{page.author_description}}</p>
    <a data-aos="zoom-in" itemprop="email" class="email" href="mailto:{{page.author_email}}">{{page.author_email}}</a>
  </div>
</section>
