{% include preloader.html %}
<header class="header-post" role="banner">
  <figure id="bg-img" class="bg-blur" style="background-image: url('{{ page.background }}')"></figure>
  <div class="content" style="overflow-x: hidden;">
    {% if page.date %}
      <time data-aos="zoom-out" itemprop="datePublished" datetime="{{ page.date }}" class="date shadow-text">{{ page.date | date_to_string }}</time>
    {% endif %}
    <h1 data-aos="zoom-in" class="post-title shadow-text" itemprop="name">{{ page.title | replace: "Lab IT Polsri - ", "" }}</h1>
    <p data-aos="fade-up" data-aos-anchor-placement="top-bottom" itemprop="description" class="subtitle shadow-text"><b>{{ page.description }}</b></p>
  </div>
  <a class="down" data-scroll href="#content"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
  {% include menu-search.html %}
</header>
